<div>
    <div class="wrapper">
        <div class="container-fluid">
            <header class="aobackground-White">
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <img src="img/allen_overy_logo.png"/>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <div class="alert alert-dismissable alert-info" ng-show="isDesktop">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Cookie Information</h4>
        It is worth ensuring that cookies are enabled on your PC &ndash; doing so generally improves subsequent use of a website in that certain information is remembered.
        A cookie is a text&ndash;only string of information which is held in the cookie file of the relevant browser on your PC.  This site, for example, uses cookies to capture
        the country of your normal home office location which means that, when you access this site again, you will be directed immediately to the <b>Sign in</b> page rather than see this page.
    </div>

    <!--<div class="alert alert-dismissable alert-info" ng-hide="npapiCheck()" ng-hide="hide"-->
         <!--ng-click="hide = true">-->
        <!--<button type="button" class="close" data-dismiss="alert">&times;</button>-->
        <!--It appears you are using Google Chrome. Please click on this <a ng-click="openSettings()">link</a> to re-enable-->
        <!--the use of NPAPI plugin which is necessary for Citrix applications.-->
    <!--</div>-->

    <div class="">
        <div class="panel padding-large aobackground-LightNeutrals-Titanium">

            <div ng-show="!isDesktop">
                <div ng-show="isAndroid" class="alert alert-dismissable alert-info">This is an Android device. Download of Citrix Receiver app is required; visit the Play Store to locate and download it.<br><a ng-href="http://play.google.com/store/apps">Play Store</a></div>
                <div ng-show="isIos" class="alert alert-dismissable alert-info">Download of Citrix Receiver app is required; visit the App Store to locate and download it and then continue with the next steps to set up your Apple device.<br><a ng-href="http://apple.com">App Store</a></div>
                <div ng-show="!isDesktop&&!isAndroid&&!isIos" class="alert alert-dismissable alert-info">Download of Citrix Receiver app is required.</div>
            </div>

            <div class="container-fluid aobackground-White">

                <div class="ao-rteElement-H3">Please select the country of your normal home office location</div>

                <div style="padding-left: 15px; padding-bottom: 10px" >
                    <input type="text" ng-model="searchTerm" placeholder="Enter Country Name" autofocus/>
                </div>

                <div ng-show="isProgress" class="text-center">
                    <div class="spinner-large" style="display: inline-block"></div>
                </div>

                <div ng-repeat="country in countries |filter: countrySearch | orderBy:'fields.name'"j
                     class="row-fluid">
                    <div class="">

                        <div ng-show="isDesktop">

                            <div class="col-xxs-12  col-xs-6 col col-sm-3 col-md-2 text-center">
                                <a class="thumbnail aobackground-LightNeutrals-Silver"
                                   ng-href="{{country.fields.office[0].fields.netscaler.fields.urlEndpoint}}"
                                   ng-click="pushCookie(country.fields.office[0].fields.netscaler.fields.urlEndpoint)"><img
                                        class=""
                                        ng-src="{{country.fields.flagLocalUrl}}"/>&nbsp;{{country.name}}{{country.fields.name}}</a>
                            </div>
                        </div>

                        <!--IOS or other non-android devices-->
                        <div ng-show="!isDesktop&&!isAndroid">
                            <div class="col-xxs-12 col-xs-6 col col-sm-3 col-md-2 text-center">
                                <a class="thumbnail aobackground-LightNeutrals-Silver"
                                   ng-href="{{country.fields.office[0].fields.netscaler.fields.iosConfigUrl}}"
                                   download="{{country.fields.office[0].fields.netscaler.fields.config.0.fields.file.fileName}}">
                                    <img class=""
                                         ng-src="{{country.fields.flagLocalUrl}}"/>&nbsp;{{country.fields.name}}</a>
                            </div>
                        </div>

                        <div ng-show="isAndroid">
                            <div class="col-xs-6 col col-sm-3 col-md-2 text-center">
                                <a class="thumbnail aobackground-LightNeutrals-Silver"
                                   ng-href="{{country.fields.office[0].fields.netscaler.fields.androidConfigUrl}}" data-file-download="true"
                                   download="{{country.fields.office[0].fields.netscaler.fields.config.1.fields.file.fileName}}">
                                    <img class=""
                                         ng-src="{{country.fields.flagLocalUrl}}"/>&nbsp;{{country.fields.name}}</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>Version: {{version}}</div>



</div>